.ag{
    top: 0;
    
    transition: top 0.2s ease-in-out;
    width: 100%;

    
}

div{
    display: block;
}

.dc{
    z-index: 1;
}

.db{
    right: 0;
}



.d9{
    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.d8{
    height: 60px;
}

.d7{
    padding: 0 50px;
}

.d6{
    margin: 0 auto;
}

.d5{
    min-width: 1024px;
}

.d4{
    max-width: 1920px;
    border-bottom: 3px solid #333;
}

.cd{
    position: static;
}

.bf{
    -webkit-box-align: center;
    align-items: center;
}

.b6{
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.b0{
    box-sizing: border-box;
}

.ax{
    color: #000000;
}

.ap{
    left: 0;
}

.ao{
    top: 0;
}

.am{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.ah{
    display: flex;
}

.dj{
    max-width: 722px;
}

.di{
    width: 100%;
}

.cg{
    overflow: hidden;
}
.ag{
    position: absolute;
}

.do{
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.dn{
    transform-origin: right;
}

.dm{
    transform: scaleX(1);
}

.dl{
    z-index: 3;
}

.dk{
    bottom: 0;
}

.db{
    right: 0;
}

.cd{
    position: absolute
}

.aw{
    background-color: #FFFFFF;
}

.ap{
    left:0;
}

.ao{
    top: 0;
}

.dp{
    flex: 1;
}

.spacer._24{
    width: 24   px;
}

.spacer{
    height: 1px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

.du{
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
}

.dr{
    background: #FFFFFF;
}

.dq{
    min-height: 48px;
}

.ci{
    white-space: nowrap;
}

.c9{
    border-radius: 550px;
}

.c5{
    line-height: 20px;
}

.c4{
    font-size: 16px;
    background-color: black;
}

.bh{
    padding: 12px 16px;
}

.bg{
    -webkit-box-pack: center;
    justify-content: center;
}

.bf{
    -webkit-box-align: center;
    align-items: center;
}

.be{
    width: auto;
}

.bc{
    cursor: pointer;
}

.bb{
    font-weight: 500;
}

.ba{
    font-family: sans-serif;
}

.b0{
    box-sizing: border-box;
}

.ax{
    color: #000000;
}

.ah{
    display: flex;
}

a{
    text-decoration: none;
}

.dg{
    height: 15px;
}

.df{
    width: 20px;
    padding-left: -5px;
}

.cc{
    fill: currentColor;
}

.c3{
    flex: none;

}

svg:not(:root){
    overflow: hidden;
}


*{
    -webkit-font-smoothing: antialiased;
}


a:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
    
}


.spacer._18{
    width: 18px;
}

.dq {
    min-height: 48px;
}

.c9 {
    border-radius: 500px;
}

.bk {
    background: #000000;
}

.bj {
    color: #FFFFFF;
}

